/* add normalize */
@import '../../../node_modules/normalize-scss/sass/normalize';
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
/* Variables */
$aarp-red: #c03a38;
$aarp-blue: #2577A1;
$aarp-yellow: #FAC642;
$facebook: #3b5998;
$twitter: #00acee;
$linkedin: #0e76a8;
$light-gray: #979797;
$lighter-gray: #F1F1F1;

body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.new-discussion-modal {
  .modal-content {
    height: auto;
  }
}

.navbar {
  .dropdown-menu {
    left: initial;
    right: 0;
  }
}

.modal {
  .DraftEditor-root {
    border: 1px solid $light-gray;
    padding: 10px;
    border-radius: 5px;


  }

  .single-discussion {
    .DraftEditor-root {
      display: none;
    }
  }
}

.popover {
  .popover-body {
    width: 100%;
    height: 100%;

    .image-container {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .arrow {
    display: none;
  }
}

input.apple-switch {
  cursor: pointer;
  position: relative;
  -webkit-appearance: none;
  outline: none;
  width: 50px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #D9DADC;
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 #fff;

  &.apple-switch:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    background: transparent;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  }

  &:checked {
    box-shadow: inset 20px 0 0 0 #4ed164;
    border-color: #4ed164;

    &:after {
      left: 20px;
      box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
    }
  }

}


.card {
  .card-header {
    background: transparent;

    h5 {
      text-align: center;
      margin: 0;
      font-weight: 700;
    }

  }

  .card-body {
    .card-text {
      img {
        margin-bottom: 1.25rem;
        border: 1px solid black;
      }

      &.small {
        font-size: 12px;
        letter-spacing: 0;
        line-height: 17px;
      }
    }
  }
}

.btn-secondary {
  background-color: $light-gray;
  border-color: $light-gray;

}

.btn-primary,
.btn-secondary {
  font-weight: bold;
  padding: 8px 25px;
}

.btn-primary {
  background-color: $aarp-yellow;
  color: black;

  border-color: $aarp-yellow;


  &:hover,
  &:focus,
  &:active,
  &:visited,
  &:not(:disabled):not(.disabled):active {
    background-color: black;
    color: white;
    border-color: black;
  }

  &.camera {
    background-image: url('../img/camera-icon.svg');
    background-repeat: no-repeat;
    background-position-x: 16px;
    background-position-y: center;
    padding-left: 50px;
    padding-right: 25px;

    &:hover {
      background-image: url('../img/camera-icon-white.svg');
    }
  }
}

.modal-dialog.modal-xl {
  height: calc(100% - 3.75rem);
}

.modal-content {
  height: 100%;
}

.modal {
  z-index: 1065;

  &.full {
    background-color: rgba(0, 0, 0, 0.9);

    .close {
      color: white;
      opacity: 1;
    }

    .modal-dialog {

      max-width: 100%;

      .modal-content {
        background-color: transparent;

        .modal-header {
          border: none;
        }

        .modal-body {

          .carousel-control-next-icon,
          .carousel-control-prev-icon {
            width: 52px;
            height: 52px;
            border-radius: 50%;
            background-image: none;
            background-color: white;
            text-align: center;
            line-height: 52px;

            &:after {
              content: '\232A';
              display: inline-block;
              color: black;
              font-size: xx-large;
              margin-left: 15px;
            }
          }

          .carousel-caption {
            position: static;
          }

          .carousel-control-prev-icon {
            &:after {
              transform: rotate(180deg);
              margin-left: -20px;
            }
          }

          .carousel-control-prev {
            justify-content: flex-start;
            left: -65px;
            opacity: 1;

          }

          .carousel-control-next {
            justify-content: flex-end;
            right: -65px;
            opacity: 1;
          }
        }
      }

    }
  }

}

.modal-backdrop {
  z-index: 1065;
}

.canvas {
  background-repeat: no-repeat;
  background-size: contain;
}

//Components
.opinion {
  .opinion__image-container {
    width: 15%;
    margin-right: 15px;
  }

  .opinion__comment-container {
    width: calc(85% - 15px);
    border-color: $lighter-gray;
    border-radius: 8px;
    background-color: $lighter-gray;
    font-size: 14px;
    position: relative;

    .delete {
      cursor: pointer;
      position: absolute;
      top: -5px;
      right: -5px;
      font-size: large;
      color: $aarp-red;
    }

  }
}

main {
  margin-top: 98px;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1064;



  .navbar {
    padding-bottom: 40px;
    background: $aarp-red;

    .navigation-bar {
      background-color: white;
      position: absolute;
      left: 0;
      right: 0;
      top: 65px;

      ul {
        margin-bottom: 0;
        list-style-type: none;

        li {
          padding: 10px;

          a {
            font-weight: bold;
            text-transform: capitalize;
            color: black;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }

    }
  }

}

.forum-feed {
  margin-top: 115px;

  .forum-feed__canvas-container {
    background: url('../img/bg-texture.jpg') no-repeat;
    background-size: cover;

    .intro {
      color: white;
    }

    .previous-mosaics {
      .previous-mosaic {
        width: 113px;
        height: 67px;

        img {
          cursor: pointer;
        }
      }
    }
  }

  .moderator-card {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 17px;

    .moderator-card__img-container {
      margin-right: 10px;

      img {
        border: 1px solid black;

      }
    }

  }

  .forum-feed__social {
    .fa-stack {
      .fa-circle {
        color: #2d2d2d;

        &.facebook {
          color: $facebook;
        }

        &.twitter {
          color: $twitter;
        }

        &.linkedin {
          color: $linkedin;
        }
      }
    }
  }
}

.modal-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

.misc-button {
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid $light-gray;
  width: 46px;
  height: 46px;

  &.active {
    background-color: $aarp-yellow;
    border-color: black;
  }

}

.discussion-box {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);

  .discussion-box__image {
    width: 100%;
    height: auto;
    border: 1px solid $light-gray;
  }

  .post-user {
    padding-bottom: 1.25rem;
  }

  .text-muted {
    letter-spacing: 0.12px;
    line-height: 17px;
    font-size: 12px;
  }

  .discussion-box__footer {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    padding-top: 1.25rem;
    border-top: 1px solid $light-gray;
    font-size: 16px;
    font-weight: bold;
    color: $aarp-blue;

    .opinion-section {
      color: black;

      .opinion {
        display: flex;
        justify-content: space-between;

        .opinion__comment-container {
          width: calc(100% - 55px) !important;
          font-weight: normal;
        }

        .opinion__image-container {
          width: auto;

          img {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

  }
}

.discussion-box,
.single-discussion {
  .rectangle {
    height: 20px;
    width: auto;
    padding: 2px 10px;
    text-transform: uppercase;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    font-size: 10px;
    background-color: $aarp-blue;
  }


}

.new-discussion {
  .new-discussion__uploaded-image-container {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
  }

  .new-discussion__dropzone-container {
    width: 60%;
    border: 1px solid $light-gray;
    background-color: $lighter-gray;
  }

  .new-discussion__form {
    width: 40%;
  }
}

.single-discussion {
  .single-discussion__tools {
    font-size: 16px;
    font-weight: bold;
    color: $aarp-blue;

    .delete {
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: x-large;
      color: $aarp-red;
    }
  }

  +div {
    .btn-primary {
      width: 100%;
    }
  }

}

.discussion-box__header,
.single-discussion__header {
  height: 45px;
  font-size: 14px;

  img {
    height: 100%;
    width: auto;
    margin-right: 10px;
  }

  .text-muted {
    font-size: 12px;
    text-transform: uppercase;
  }
}