/* add normalize */
@import '../../../node_modules/normalize-scss/sass/normalize';
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
/* Variables */
$aarp-red: #c03a38;
$aarp-blue: #2577A1;
$aarp-yellow: #FAC642;
$facebook: #3b5998;
$twitter: #00acee;
$linkedin: #0e76a8;
$lighter-gray-two: #ced4da;
$light-gray: #979797;
$lighter-gray: #F1F1F1;
$gray: #747474;

body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.new-discussion-modal {
  .modal-content {
    .modal-header {
      .modal-title {
        font-size: 16px;

        img {
          width: 20px;

        }
      }
    }

    .new-discussion {
      height: 100%;

      .new-discussion__form {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
      }
    }
  }
}

textarea.form-control {
  font-size: small;
}

.navbar {
  .dropdown-menu {
    left: initial;
    right: 0;
  }
}

.modal {
  .DraftEditor-root {
    border: 1px solid $light-gray;
    padding: 10px;
    border-radius: 5px;


  }

  .single-discussion {
    .DraftEditor-root {
      display: none;
    }
  }
}

.left.bs-popover-auto[x-placement^=right]>.arrow::before,
.left.bs-popover-right>.arrow::before {
  right: -12px;
  left: initial;
  transform: rotate(180deg);

}

.left.bs-popover-auto[x-placement^=right]>.arrow::after,
.left.bs-popover-right>.arrow::after {
  right: -11px;
  left: initial;
  transform: rotate(180deg);

}

.left.bs-popover-auto[x-placement^=right]>.arrow,
.left.bs-popover-right>.arrow {
  left: initial;
  right: calc(-.5rem - 1px);
  width: .5rem;
  height: 1rem;
  margin: .3rem 0;
  top: 5px;
}

.left.bs-popover-auto[x-placement^=right],
.left.bs-popover-right {
  margin-right: .5rem;
}

.bs-popover-auto[x-placement^=right]>.arrow::before,
.bs-popover-right>.arrow::before {
  left: -12px;
  border-width: .5rem 20px 2px 0;
}

.bs-popover-auto[x-placement^=right]>.arrow::after,
.bs-popover-right>.arrow::after {
  left: -11px;
  border-width: .5rem 20px 2px 0;

}

.popover {
  .popover-body {
    width: 100%;
    height: 100%;

    .image-container {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }


}

label {
  margin-bottom: 0;
}

input.apple-switch {
  cursor: pointer;
  position: relative;
  -webkit-appearance: none;
  outline: none;
  width: 50px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #D9DADC;
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 #fff;

  &.apple-switch:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    background: transparent;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  }

  &:checked {
    box-shadow: inset 20px 0 0 0 #4ed164;
    border-color: #4ed164;

    &:after {
      left: 20px;
      box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
    }
  }

}

.table {
  thead {
    background-color: black;
    color: white;
  }

  tbody {
    background-color: $lighter-gray;

    img {
      border: 1px solid black;
    }

    p {
      font-size: 14px;
    }
  }
}

.select {
  border: 1px solid #979797;
  border-radius: 4px;
  padding: 0 15px;
  height: 100%;
}

.pencil {
  width: 20px;
  height: auto;
}

.card {
  &.gray {
    background-color: $lighter-gray;
  }

  .card-header {
    background: transparent;

    h5 {
      text-align: center;
      margin: 0;
      font-weight: 700;
    }

  }

  .card-body {
    .card-text {
      img {
        margin-bottom: 1.25rem;
        border: 1px solid black;
      }

      &.small {
        font-size: 12px;
        letter-spacing: 0;
        line-height: 17px;
      }
    }
  }
}

.w-70 {
  width: 70%;
}

.w-40 {
  width: 40%;
}



.btn-secondary {
  background-color: $light-gray;
  border-color: $light-gray;

}

.btn-primary,
.btn-secondary,
.btn-dark {
  font-weight: bold;
  padding: 8px 25px;
}

.btn-primary {
  background-color: $aarp-yellow;
  color: black;

  border-color: $aarp-yellow;


  &:hover,
  &:focus,
  &:active,
  &:visited,
  &:not(:disabled):not(.disabled):active {
    background-color: black;
    color: white;
    border-color: black;
  }

  &.camera {
    background-image: url('../img/camera-icon.svg');
    background-repeat: no-repeat;
    background-position-x: 16px;
    background-position-y: center;
    padding-left: 50px;
    padding-right: 25px;

    &:hover {
      background-image: url('../img/camera-icon-white.svg');
    }
  }
}

.modal-dialog.modal-xl {
  height: calc(100% - 3.75rem);
}

.modal-content {
  height: 100%;
}

.modal {
  z-index: 1065;

  &.full {
    background-color: rgba(0, 0, 0, 0.9);

    .close {
      color: white;
      opacity: 1;
    }

    .modal-dialog {

      max-width: 100%;

      .modal-content {
        background-color: transparent;
        display: flex;
        justify-content: center;

        .modal-header {
          border: none;
        }

        .modal-body {

          .carousel-control-next-icon,
          .carousel-control-prev-icon {
            width: 52px;
            height: 52px;
            border-radius: 50%;
            background-image: none;
            background-color: white;
            text-align: center;
            line-height: 52px;

            &:after {
              content: '\232A';
              display: inline-block;
              color: black;
              font-size: xx-large;
              margin-left: 15px;
            }
          }

          .carousel-caption {
            position: static;
          }

          .carousel-control-prev-icon {
            &:after {
              transform: rotate(180deg);
              margin-left: -20px;
            }
          }

          .carousel-control-prev {
            justify-content: flex-start;
            left: -65px;
            opacity: 1;

          }

          .carousel-control-next {
            justify-content: flex-end;
            right: -65px;
            opacity: 1;
          }
        }
      }

    }
  }

}

.modal-backdrop {
  z-index: 1065;
}

.canvas {
  background-repeat: no-repeat;
  background-size: contain;
}

//Components
.opinion {
  .opinion__image-container {
    width: 15%;
    margin-right: 15px;
  }

  .opinion__options {
    margin-left: 40px;
    ;

    ul {
      li {
        color: $aarp-blue;
        font-size: 12px;
        font-weight: bold;
        margin-right: 15px;
        position: relative;

        &:first-child {
          list-style: none
        }


        span {
          position: relative;
          left: -6px;
          cursor: pointer;
        }


      }

    }
  }

  .opinion__comment-container {
    width: calc(85% - 15px);
    border-color: $lighter-gray;
    border-radius: 8px;
    background-color: $lighter-gray;
    font-size: 14px;
    position: relative;

    .pin-image {
      margin-left: -12px;
    }

    .delete {
      cursor: pointer;
      position: absolute;
      top: -5px;
      right: -5px;
      font-size: large;
      color: $aarp-red;
    }

  }
}

main {
  margin-top: 98px;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1064;



  .navbar {
    padding-bottom: 40px;
    background: $aarp-red;

    .navbar-collapse {
      .navbar-nav {
        .dropdown {
          >a {
            font-weight: bold;
          }
        }
      }
    }

    .navigation-bar {
      background-color: white;
      position: absolute;
      left: 0;
      right: 0;
      top: 65px;

      ul {
        margin-bottom: 0;
        list-style-type: none;

        li {
          padding: 10px 100px;
          position: relative;

          &.active {
            border-bottom: 3px solid $aarp-red;

            a {
              color: $aarp-red;
            }
          }

          &::after {
            content: '';
            position: absolute;
            right: 0;
            display: block;
            width: 1px;
            height: 70%;
            top: 0;
            bottom: 0;
            margin: auto;
            background-color: $light-gray;
            opacity: 0.5;
          }

          &:last-of-type {
            &::after {
              content: none;
            }
          }

          a {
            font-weight: bold;
            text-transform: capitalize;
            color: black;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }

    }
  }



}

.admin-dashboard {
  margin-top: 110px;

  .nav-tabs {
    top: 65px;
    background-color: white;
    position: fixed;
    z-index: 2000;
    left: 0;
    right: 0;
    border-bottom: none;
    display: flex;
    justify-content: center;

    .nav-item {
      padding: 10px 100px;
      position: relative;
      font-weight: bold;
      text-transform: capitalize;
      color: black;
    }

    .nav-link {
      border: none;

      &:not(:last-of-type)::after {
        content: '';
        position: absolute;
        right: 0;
        display: block;
        width: 1px;
        height: 70%;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: $light-gray;
        opacity: 0.5;
      }

      &.active {
        background: none;
        border-bottom: 3px solid $aarp-red;
        color: $aarp-red;
      }
    }
  }

  .admin-dashboard__forum-box {
    .forum-box {
      .form-card {
        padding-top: 25px;

        .mentor-name {
          max-width: 360px;
        }

        >.form-label {
          text-transform: uppercase;
          display: block;
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 0;
          line-height: 27px;
          border-bottom: 1px solid $lighter-gray-two;
          padding-bottom: 7px;
          margin-bottom: 25px;
        }
      }

      textarea.description,
      textarea.biography {
        height: 170px;
      }

      .slug,
      .page-title {
        .form-control {
          max-width: 360px;
        }
      }

      h2 {
        font-size: 36px;

        strong {
          font-weight: 900;
        }
      }
    }
  }
}

.forum-feed {
  margin-top: 107px;

  .forum-feed__canvas-container {
    background: url('../img/bg-texture.jpg') no-repeat;
    background-size: cover;

    .status-bar {
      position: relative;
      height: 12px;
      width: 400px;
      border-radius: 8px;
      background-color: #D8D8D8;

      .count {
        position: absolute;
        top: -23px;
        font-size: 14px;
        font-weight: bold;
      }

      &::after {
        position: absolute;
        content: '1000';
        right: 0;
        bottom: -23px;
        font-size: 14px;
        font-weight: bold;
      }

      small {
        font-size: xx-small;
      }

      .fill {
        position: absolute;
        left: 0;
        top: 0;
        height: 12px;

        border-radius: 8px;
        background-color: $aarp-blue;
      }
    }

    .intro {
      color: white;
    }

    .canvas-background-wrapper {
      background-color: white;
      position: relative;

      .canvas {
        position: absolute;
        top: 5px;
        left: 5px;

      }
    }

    .previous-mosaics {
      .previous-mosaic {
        width: 113px;


        img {
          cursor: pointer;
        }
      }
    }
  }

  .moderator-card {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 17px;

    .moderator-card__img-container {
      margin-right: 10px;

      img {
        border: 1px solid black;

      }
    }

  }

  .forum-feed__social {
    .fa-stack {
      .fa-circle {
        color: #2d2d2d;

        &.facebook {
          color: $facebook;
        }

        &.twitter {
          color: $twitter;
        }

        &.linkedin {
          color: $linkedin;
        }
      }
    }
  }
}

.modal-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

.misc-button {
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid $light-gray;
  width: 46px;
  height: 46px;

  &.active {
    background-color: $aarp-yellow;
    border-color: black;
  }

}

.discussion-box {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);

  .discussion-box__header {

    .pending-message {
      font-size: 20px;
      letter-spacing: 0;
      color: $aarp-red;
    }
  }

  .discussion-box__image {
    width: 100%;
    height: auto;
    border: 1px solid $light-gray;
  }

  .post-user {
    padding-bottom: 1.25rem;
  }

  .text-muted {
    letter-spacing: 0.12px;
    line-height: 17px;
    font-size: 12px;
  }

  .discussion-box__footer {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    padding-top: 1.25rem;
    border-top: 1px solid $light-gray;
    font-size: 16px;
    font-weight: bold;
    color: $aarp-blue;

    .opinion-section {
      color: black;

      .opinion {
        display: flex;
        justify-content: space-between;

        .opinion__comment-container {
          width: calc(100% - 55px) !important;
          font-weight: normal;
        }

        .opinion__image-container {
          width: auto;

          img {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

  }
}

.discussion-box,
.single-discussion {
  .rectangle {
    height: 20px;
    width: auto;
    padding: 2px 10px;
    text-transform: uppercase;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    font-size: 10px;
    background-color: $aarp-blue;

    &.gray {
      background-color: $gray;
    }
  }


}

.forum-box {
  .forum-box__uploaded-image-container {
    width: 100%;
    height: 100%;
    min-height: 300px;
    background-size: contain;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
  }

  .forum-box__dropzone-container {
    height: 100%;

    border: 1px solid $lighter-gray-two;
    background-color: $lighter-gray;

    .upload-image {
      width: 220px;
      height: auto;
    }
  }
}


.new-discussion {
  .new-discussion__uploaded-image-container {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
  }

  .new-discussion__dropzone-container {
    height: 100%;
    width: 60%;
    border: 1px solid $light-gray;
    background-color: $lighter-gray;

    .upload-image {
      width: 220px;
      height: auto;
    }
  }

  .new-discussion__form {
    width: 40%;
  }
}

.single-discussion {
  .single-discussion__tools {
    font-size: 16px;
    font-weight: bold;
    color: $aarp-blue;

    .extra-options {
      cursor: pointer;
      position: absolute;
      top: 30px;
      right: 1rem;
      font-size: x-large;
      color: $aarp-red;

      .btn-primary:not(:disabled):not(.disabled).active,
      .btn-primary:not(:disabled):not(.disabled):active,
      .show>.btn-primary.dropdown-toggle {
        color: black;
        text-decoration: none;
      }

      .btn {
        border: none;
        display: inline;
        background: none;
        padding: 0;
        color: black;

        &:after {
          content: none;
        }

        &:hover,
        &:active,
        &:visited {
          color: black;
          text-decoration: none;
        }
      }
    }
  }

  +div {
    .btn-primary {
      width: 100%;
    }
  }

}

.discussion-box__header {


  .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.discussion-box__header,
.single-discussion__header {
  height: 45px;
  font-size: 14px;

  img {
    height: 100%;
    width: auto;
    margin-right: 10px;
  }

  .text-muted {
    font-size: 12px;
    text-transform: uppercase;
  }
}